* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

a[href^="tel"] {
    color: inherit; /* Inherit text color of parent element. */
    text-decoration: none; /* Remove underline. */
    /* Additional css `propery: value;` pairs here */
  }

*,
:after,
:before {
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

img {
    max-width: 100%;
    max-height: 345px;
}

body {
    font-family: "Roboto";
    color: #000000;
    background-color: #f7f6f3;
    line-height: 1.5;
}

form input,
form select {
    display: block !important;
    width: 260px !important;
    margin: auto;
    margin-bottom: 10px !important;
    height: 40px !important;
    padding: 0 15px !important;
    background: #fff !important;
    border: 1px solid #000 !important;
    box-sizing: border-box;
}

.form-block {
    max-width: 300px;
    margin: auto;
}

.price {
    margin: 10px auto;
    text-align: center;
}

.price .old {
    text-decoration: line-through;
}

.price .price__new {
    font-size: 25px;
    font-weight: 700;
}

.clr {
    clear: both;
}

.link {
    font-weight: 700;
    text-decoration: none;
    color: #ff2a00;
}

.link:hover {
    text-decoration: underline;
}

.container {
    max-width: 980px;
    margin: auto;
    padding: 0 15px;
}

.content-wrap {
    display: table;
    width: 100%;
}

.content {
    display: table-cell;
    width: 69%;
    vertical-align: top;
    background-color: #ffffff;
    box-shadow: -20px -12px 56px 4px rgba(5, 5, 5, 0.47);
}

.sidebar {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding-left: 15px;
}

.header {
    box-shadow: 0px 13px 10px 0px rgba(5, 5, 5, 0.5);
    background-color: #ffffff;
    position: relative;
}

.header-wrap {
    padding: 10px 0;
}

.header__logo {
    display: inline-block;
    vertical-align: middle;
    max-width: 215px;
}

.header__title {
    display: inline-block;
    vertical-align: middle;
    max-width: 725px;
}

.main {
    background-image: url(../img-preland/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding-top: 10px;
}

.menu {
    margin-bottom: 10px;
}

.menu__list {
    display: table;
    width: 100%;
}

.menu__item {
    display: table-cell;
    text-align: center;
    border-right: 2px solid #ffffff;
}

.menu__item_first {
    border-left: 2px solid #ffffff;
}

.menu__item-link {
    font-size: 19px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto;
    text-shadow: 0 0 10px black;
}

.menu__item-link:hover {
    text-decoration: underline;
}

.breadcrumbs {
    background-color: #000000;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: table;
    width: 100%;
    line-height: 1;
}

.breadcrumbs__text-wrap {
    display: table-cell;
    vertical-align: middle;
}

.breadcrumbs__text {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
}

.breadcrumbs__btn-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.breadcrumbs__btn-link {
    text-align: center;
    border: 1px solid #ffd427;
    background-color: #ffffff;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 2;
    text-decoration: none;
}

.breadcrumbs__btn-link:hover {
    border: 1px solid #584b0f;
}

.post {
    border: 0 dashed #000000;
    padding: 15px;
}

.post__head {
    font-size: 25px;
    font-weight: 900;
}

.post__text {
    font-size: 16px;
    margin-bottom: 15px;
}

.post__img-wrap {
    margin-bottom: 15px;
    text-align: center;
    display: block;
}

.post__quote {
    border-left: 3px solid #31b1e1;
    font-style: italic;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 16px;
}

.btn-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    display: block;
    margin: auto;
    color: #ff2a00;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.comments {
    padding: 0 15px;
}

.comments__head-wrap {
    display: table;
    width: 100%;
    border-bottom: 2px solid #a1a1a1;
    margin-bottom: 15px;
}

.comments__head {
    display: table-cell;
    font-size: 22px;
    font-weight: 700;
}

.comments__count-wrap {
    display: table-cell;
    text-align: right;
}

.comments__count {
    font-size: 18px;
    position: relative;
    display: inline-block;
}

.comments__count:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img-preland/chat_icon.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 18px;
    left: -26px;
    top: 6px;
}

.comment {
    margin-bottom: 20px;
}

.comment__title {
    display: table;
    width: 100%;
}

.comment__ava {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
}

.comment__ava-img {
    width: 50px;
    border-radius: 50%;
}

.comment__name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.comment__name-text {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.comment__name-text:hover {
    text-decoration: underline;
}

.comment__date {
    color: #aaaaaa;
    font-size: 12px;
}

.comment__content {
    margin-left: 60px;
}

.comment__content-text {
    font-size: 14px;
}

.comment__content-img {
    display: block;
    margin: auto;
    margin-top: 7px;
}

.sidebar-wrap {
    background-color: #ffffff;
    padding: 15px;
}

.sidebar__item {
    text-decoration: none;
    margin-bottom: 10px;
    padding-bottom: 7px;
    display: block;
    border-bottom: 1px solid #d5d5d5;
}

.sidebar__item_last {
    border: none;
    margin-bottom: 0;
}

.sidebar__item__desc {
    color: #000000;
    font-size: 15px;
}

.sidebar__item-question {
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    line-height: 1;
    margin: 30px 0;
}

.sidebar__item-btn-wrap {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar__item-btn {
    color: #ffffff;
    font-weight: 700;
    font-size: 19px;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 20px;
    margin: 0 10px;
    line-height: 1;
    transition: 0.5s;
    background-color: #239470;
    text-decoration: none;
}

.sidebar__item-btn:hover {
    transform: scale(1.05);
}

.sidebar__item-btn_yel {
    background-color: #c39a36;
}

.footer {
    text-align: center;
    font-size: 14px;
    color: #8e8e8e;
    padding: 10px 0;
}

@media (max-width: 991px) {
    body {
        line-height: 1.25;
    }

    .container {
        max-width: 768px;
    }

    .sidebar {
        display: none;
    }

    .menu {
        display: none;
    }

    .content-wrap {
        display: block;
    }

    .content {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }

    .header__logo {
        display: none;
    }

    .header__title {
        max-width: 100%;
    }

    .post__head {
        font-size: 18px;
    }

    .post__text {
        font-size: 15px;
    }

    .post__quote {
        padding-left: 10px;
        font-size: 15px;
    }

    .btn {
        font-size: 25px;
        line-height: 1;
        margin: 15px auto;
    }
}

@media (max-width: 425px) {
    .comment__content {
        margin-left: 0;
    }
}

/*# sourceMappingURL=style.css.map */

label.label {
    display: block;
    text-align: center;
}